/APITEsting/Data Files/
/APITEsting/Profiles/
/APITEsting/Libs/internal/GlobalVariable.groovy
/APITEsting/Libs/TempTestCase*.groovy
/APITEsting/Reports
/APITEsting/settings/internal/com.kms.katalon.integration.analytics.properties
/APITEsting/settings/internal/com.kms.katalon.integration.jira.properties